/target
# Source codes of libxml2
/libxml2-*
# Test data in libxml2
# /test
# Test result data in libxml2
# /result
# Test data in xmlconf
/xmlconf
/resources/DOM-Test-Suite

libxml2-*
callgrind.out.*
# *.xml
# *.xhtml
# *.html
# *.xsl
# *.dtd
*.tar.gz
*.out
*.log
# *.svg
*.cvsignore
*.zip
